.content {
  max-width: 1200px;
}

.el-divider {
  background-color: #dcdfe6;
}

.menu-name {
  color: #57bfd3;

  &:hover {
    text-decoration: underline;
  }
}

.main-content-a {
  color: grey;
  display: block;
  width: 100%;
  border-bottom: 1px solid #dcdfe6;
}

.mg-t-24 {
  margin-top: 24px;
}


