.content {
  max-width: 1200px;
}

.con {
  border-bottom: 1px solid $--color--dcdfe6;
}

.searchText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4 ï¼›
}
