.content {
  max-width: 1200px;
}

.content-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  line-height: 50px;
  width: 200px;
  color: #fff;
  background-color: #55bdd2;
  margin-right: 20px;
  border-radius: 3px;
}

a {
  color: #57bfd3
}

