.footer {
  background: $--color--27282C;
  color: $--color--gray;
  padding: 20px 0;
  font-size: 1.2rem;

  h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: $--color--FDFDFE;
  }

  p {
    margin-bottom: 10px;
  }

  a {
    color: $--color--gray;
    margin-bottom: 10px;

    &:hover {
      color: $--color--ff;
      text-decoration: underline;
    }
  }
}

.mg-15-auto {
  margin: 15px auto;
}

.color-00AEC5 {
  color: $--color-primary;
}

.content {
  width: 1200px;
  margin: 0 auto;
}
