.content {
  max-width: 1200px;
}

.main {
  .question {
    min-height: 100px;

    .question-title {
      font-size: 28px;
      color: $--color--333;
    }

    .question-list {
      margin: 0 auto;
      width: 1110px;
      font-size: 18px;


      li {
        width: 360px;
        margin-top: 10px;
        color: $--color-primary;

        a {
          color: $--color-primary;
        }
      }
    }

    .question-link {
      color: $--color-primary;
      height: 20px;
      font-size: 16px;
      margin-bottom: 10px;
      width: 30%;
    }
  }
}

.questionType {
  min-height: 100px;
  background-color: $--color--bg;

  .questionType-title {
    height: 20px;
    font-size: 28px;
  }

  .questionType-all {
    min-height: 10px;

    .questionType-item {
      width: 32%;
      color: $--color-primary;
      min-height: 20px;
      background-color: $--color--f9;
      font-size: 12px;
      margin-bottom: 10px;
      padding: 20px 30px;
      margin-right: 10px;

      &:hover {
        background-color: $--color--f5;
      }

      img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        border-radius: 50%;
      }

      .questionType-right {
        margin-top: 5px;
        min-width: 60px;
        height: 60px;

        .questionType-right-title {
          font-size: 16px;
          color: $--color--333;
          margin-bottom: 10px;
        }

        .questionType-right-content {
          font-size: 12px;
          color: $--color--grey;
        }
      }
    }
  }
}

.introduce-video {
  min-height: 10px;

  .how-title {
    color: $--color--333;
    font-size: 28px;
  }

  .product {
    min-height: 10px;

    .product-ul {
      min-height: 10px;

      li {
        width: 210px;
        height: 180px;
        margin-right: 30px;
        margin-bottom: 20px;

        .ul-img {
          height: 150px;
          margin-bottom: 10px;
        }
      }
    }

    .product-more {
      border-radius: 3px;
      color: $--color--ff;
      width: 124px;
      padding: 10px 30px;
      background-color: $--color-primary;
    }
  }
}

.how-answer {
  color: $--color--333;
  background-color: $--color--bg;

  .how-answer-title {
    color: $--color--333;
    font-size: 28px;
    margin-bottom: 2rem;
  }
}

.pro-alert {
  background-color: rgba(0, 0, 0, .3);

  .pro-content {
    height: 365px;
    width: 425px;
    transform: translate(-50%, -50%);
    background-color: $--color--ff;
    box-shadow: 0 0 0;

    .pro-title {
      border-bottom: 1px solid $--color--grey;
      padding: 15px 15px;
      font-size: 14px;

      .pro-delete {
        right: 20px;
        transform: translate(0, -50%);
      }
    }

    .pro-video {
      height: 310px;

      video {
        background-color: $--color--333;
      }
    }
  }
}
